@use "../../variables" as v;

.activity {
  height: 100vh;
  width: 100%;
  align-items: center;
  display: flex;

  &__wrapper {
    width: 300px;
    height: 660px;
    background: v.$GREY_300;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;

    &__avatar {
      margin-top: 38px;
      width: 72px;
      height: 72px;
      border-radius: 50%;
      resize: vertical;
      object-fit: cover;
    }

    &__edit-icon {
      position: absolute;
      top: 16px;
      right: 16px;
      cursor: pointer;
    }

    &__edit-icon:hover {
      box-shadow: -4px 14px 50px -2px rgba(127, 83, 172, 0.68);
    }

    &__name {
      margin-top: 24px;
      font-size: 17px;
      line-height: 20px;
      color: v.$BLACK;
      margin-bottom: 8px;
    }

    &__info {
      margin-top: 4px;
      font-size: 11px;
      line-height: 20px;
      color: v.$GREY_800;
      font-family: SamsungRegular;
    }

    &__resources {
      width: 276px;
      height: 375px;
      margin-top: 20px;
      border-radius: 10px;
      font-family: SamsungBold;
      letter-spacing: 0.04em;

      &__title {
        font-size: 17px;
        line-height: 20px;
        color: v.$BLACK;

        img {
          width: 18px;
          height: 18px;
          margin-top: 2px;
        }
      }

      &__item {
        width: 100%;
        height: 352px;
        margin-top: 16px;
        border-radius: 10px;
        overflow: auto;
      }
    }
  }
}
