@use "../../variables" as v;

.landing {
  color: v.$BLACK;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: SamsungMedium;
  width: 100%;

  &__tagline {
    margin-bottom: 8px;
    font-size: 91.1748px;
    line-height: 115px;
  }

  &__subline {
    font-weight: 500;
    font-size: 19.9445px;
    line-height: 36px;
  }

  &__gap {
    height: 100px;
  }

  .__a {
    font-size: "1em";
    text-decoration: none;
  }
}
