@use "../../variables" as v;

.dashboard-setting {
  width: 100%;
  background: v.$WHITE;
  height: 100vh;
  display: flex;
  justify-content: space-between;

  &__main {
    padding-left: 32px;
    padding-top: 36px;
    padding-right: 32px;
    width: 100%;

    &__section {
      width: 100%;

      &__head {
        display: flex;
        align-items: center;
        margin: 37px 0 20px 0;
      }

      &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
