@use "../../variables" as v;

.dashboard {
  width: 100%;
  height: 100vh;
  font-family: SamsungMedium;
  display: flex;

  &__drawing-navigation {
    height: 100vh;
    width: 246px;
    background: v.$BLUE_100;
    position: relative;

    &__logo {
      position: absolute;
      top: 46px;
      left: 40px;
    }

    &__nav {
      position: absolute;
      top: 142px;
      left: 24px;
      color: v.$BLACK;
      font-size: 14px;

      &__item {
        width: 184px;
        height: 48px;
        border-radius: 10px;
        margin-bottom: 4px;
        display: flex;
        align-items: center;
        padding-left: 20px;
        cursor: pointer;

        &__seprate {
          height: 24px;
          margin: 0 20px 0 20px;
        }

        &__right-arrow {
          width: 8px;
          height: 12px;
          position: absolute;
          right: 24px;
        }
      }

      &__item:hover {
        letter-spacing: 0.4em;
        background: linear-gradient(
          93.1deg,
          rgba(100, 125, 238, 0.7) 0%,
          rgba(158, 138, 180, 0.7) 100%
        );

        p {
          font-family: SamsungBold;
          line-height: 18px;
          color: v.$WHITE;
          letter-spacing: 0.04em;
        }

        svg {
          path {
            stroke: v.$WHITE;
          }
        }
      }
    }
  }

  &__content {
    width: calc(100% - 246px - 312px - 18px);
  }

  &__activity {
    width: 312px;
  }
}

.page-choose {
  letter-spacing: 0.4em;
  background: linear-gradient(
    93.1deg,
    rgba(100, 125, 238, 0.7) 0%,
    rgba(158, 138, 180, 0.7) 100%
  );
  p {
    font-family: SamsungBold;
    line-height: 18px;
    color: v.$WHITE;
    letter-spacing: 0.04em;
  }
  svg {
    path {
      stroke: v.$WHITE;
    }
  }
}
