@use "../../variables" as v;

.social-media-button {
  border: 3px solid transparent;
  border-radius: 10px;
  background: linear-gradient(#fff, #fff) padding-box,
    linear-gradient(91.82deg, v.$BLUE_500 0%, v.$PURPLE 100%) border-box;
  align-items: center;

  &__icon {
    width: 20px;
    height: 20px;
    margin-left: 32px;
  }
}
