@use "../../variables" as v;

.dashboard-home {
  width: 100%;
  background: v.$WHITE;
  height: 100vh;
  display: flex;
  justify-content: space-between;

  &__main {
    padding-left: 32px;
    padding-top: 36px;
    padding-right: 32px;
    width: 100%;

    &__section {
      width: 100%;

      &__head {
        display: flex;
        align-items: center;
        margin: 37px 0 20px 0;

        &__title {
          font-family: SamsungBold;
          font-size: 17px;
          line-height: 21px;
          color: v.$BLACK;
          letter-spacing: 0.04em;
          margin-left: 28px;
        }

        &__dropdown {
          width: 17px;
          height: 17px;
          margin-left: 28px;
          cursor: pointer;
        }

        &__question-set-title {
          margin-left: 12px;
          font-size: 14.2292px;
          line-height: 20px;
          letter-spacing: 0.04em;
          color: v.$BLACK;
        }
      }

      &__scores-stats {
        width: 100%;
        height: 238px;
        background: v.$GREY_300;
        border-radius: 10px;
        margin-top: 32px;

        &__title {
          margin-left: 24px;
          padding-top: 16px;
          display: flex;
          align-items: center;
          flex-direction: row;

          img {
            width: 28px;
            height: 28px;
          }

          p {
            margin-left: 8px;
            margin-top: 6px;
            font-size: 14.2292px;
            line-height: 20px;
            letter-spacing: 0.03em;
            color: v.$BLACK;
            font-family: SamsungBold;
          }
        }

        &__chart {
          position: relative;
          width: 100%;
          height: calc(100% - 44px);

          &__wrapper {
            display: flex;
            position: absolute;
            flex-direction: row;
            bottom: 12px;
            right: 40px;
            align-items: flex-end;
          }
        }
      }

      &__student-rank {
        width: 100%;
        height: 276px;
        border-radius: 10px;
        margin-top: 4px;

        &__title {
          margin-left: 24px;
          padding-top: 16px;
          display: flex;
          align-items: center;
          flex-direction: row;

          img {
            width: 28px;
            height: 28px;
          }

          p {
            margin-left: 8px;
            margin-top: 6px;
            font-size: 14.2292px;
            line-height: 20px;
            letter-spacing: 0.03em;
            color: v.$BLACK;
            font-family: SamsungBold;
          }
        }

        &__list {
          width: 100%;
          height: 70%;
          display: flex;
          padding-top: 16px;

          &__wrapper {
            width: 80%;
            height: 100%;
            overflow: auto;
            border-radius: 10px;
            margin-right: 16px;

            &__header {
              display: flex;

              &__no {
                width: 12px;
              }

              &__email {
                flex: 0.8;
                p {
                  margin-left: 40px;
                }

                &__item {
                  font-size: 11.3833px;
                  line-height: 20px;
                  letter-spacing: 0.04em;
                  color: v.$BLACK;
                }
              }

              &__scores {
                flex: 0.2;
                text-align: center;
              }
            }
          }

          &__button {
            width: 20%;
            height: 100%;
            background: linear-gradient(149.84deg, #647dee 0%, #7f53ac 100%);
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            &__image {
              width: 72px;
              height: 72px;
              border-radius: 50%;
              background: v.$WHITE;
              display: flex;
              justify-content: center;
              align-items: center;

              img {
                width: 44px;
                height: 44px;
              }
            }

            p {
              margin-top: 28px;
              font-size: 11.3833px;
              line-height: 17px;
              text-align: center;
              color: v.$WHITE;
              padding: 0 8px;
            }
          }
        }
      }
    }
  }
}

.col-header {
  font-family: SamsungBold;
  font-size: 11.3833px;
  line-height: 20px;
  letter-spacing: 0.04em;
  color: v.$BLACK;
  margin-bottom: 12px;
}

.col-title {
  font-family: SamsungMedium;
  font-size: 11.3833px;
  line-height: 20px;
  letter-spacing: 0.04em;
  color: v.$BLACK;
}
