@use "../../variables" as v;

.short-button__a {
  text-decoration: none;
  font-size: 20px;
  line-height: 25px;
}

.short-button__container {
  width: 124px;
  height: 42px;
  border-radius: 10.6846px;

  display: flex;
  justify-content: center;
  align-items: center;

  &__title {
    font-style: normal;
    font-weight: 500;
    font-size: 14.2461px;
    line-height: 18px;
    font-family: SamsungMedium;
  }
}

.login {
  background: linear-gradient(109.23deg, v.$BLUE_500 11.64%, v.$PURPLE 100.86%);
  color: v.$WHITE;
}

.register {
  background: v.$WHITE;
  color: v.$BLACK;
}
