@use "../../variables" as v;

.search-bar {
  width: 520px;
  height: 48px;
  display: flex;
  align-items: center;
  position: relative;

  &__icon {
    width: 22px;
    height: 22px;
    position: absolute;
    left: 20px;
  }

  &__input {
    font-family: SamsungMedium;
    border: none;
    width: 100%;
    color: v.$BLACK;
    padding-left: 56px;
    padding-right: 20px;
    background: v.$BLUE_100;
    height: 100%;
    border-radius: 10px;
  }

  &__input::placeholder {
    color: v.$GREY_700;
    font-size: 12px;
  }
}
